canvas {
  position: absolute;
  top: 0;
  left: 0;
  cursor: url(images/crosshair1.png) 11 11, auto;
  /* cursor: url(images/reddot.png) 64 64, auto; */
  /* cursor: url(images/reddot_small.png) 32 32, auto; */
}

/*  {
  cursor: url(crosshair1.png), auto;
/* }
